---
layout: default
title: Uralys
logo: logo.png
---

{% assign year = "2015" %}

<div class="fadeInDown animated">
    <div class="highlight row gutters span_12">
        <h2>Ludum Dare #36 ! Presenting Cerise Music Ride</h2>
        <iframe width="648"
                height="400"
                src="http://www.youtube.com/embed/nLMZd05FQKc"
                frameborder="0">
        </iframe>

        <a class="button project-details" href="http://ludumdare.com/compo/ludum-dare-36/?action=preview&uid=112097">More...</a>
    </div>

    <div class="row gutters span_12">
        {% include article-large.html id="phantoms" %}
    </div>

    <div class="home-year">{{year}}</div>

    <div class="row gutters span_12">
        {% include article.html id="coorpacademy" forceHeight="432px" %}
        {% include article.html id="maperial" %}
    </div>
</div>
