
.project-roles-full {
  position: fixed;
  z-index: 1;
  right: 25px;
  top: 25px;
  line-height: 2;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  -webkit-box-shadow: 0 0 12px 1px #bbb;
  box-shadow: 0 0 12px 1px #bbb;

  .content-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 6px;
    /*text-align: center;*/
  }

  .category,
  .role,
  .contributing,
  .project-dates,
  .duration,
  .post-date {
    text-align: left;
  }

  .techno-group, .team-group {
    padding-left: 10px;
  }

  .techno-name{
    padding-left: 20px;
  }

  .metrics-bg {
    background-color: #efefef;
    height:18px;
    margin-left: 25%;
    margin-bottom: 10px;
  }

  .metrics-name {
    font-size: 12px;
    color: #555;
    margin-top: -3px;
    padding-left: 5px;
  }

  .metrics-progress {
    height: 18px;
  }
}

.part2 {
  width: 120px;
  right: -20px !important;
  margin-top: -11px;
}

.part3 {
  width: 75px;
  margin-top: 10px;
}

.role-part {
  position: fixed;
  right: 35px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -moz-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -ms-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -o-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
}

.role-part.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -moz-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -ms-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -o-transition: opacity 500ms ease-out, visibility 0s ease-out;
  transition: opacity 500ms ease-out, visibility 0s ease-out;
}


.category,
.role,
.contributing,
.project-dates,
.duration,
.post-date {
  text-align: right;
}

.category {
  font-weight : italic;
}

.contributing {
  font-weight : italic;
  font-size : 14px;
  color: $azul-accent-color;
}

.role {
  font-size : 16px;
  margin-top: -7px;
}

.duration {
  font-size : 12px;
  margin-top: -5px;
  color:#888;
}

.project-dates {
  font-size : 12px;
}

.techno-group {
  margin-top: 5px;
  font-size : 12px;
}

.techno-name {
  font-size : 12px;
  margin-top: -5px;
  color:#888;
}

.team-group {
  font-size : 12px;
}

.team-number {
  font-size : 12px;
  text-align: right;
  color:#888;
}

