@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #9b59b6;
$tabs-base-color: #eee;

.tab-logo {
  height:30px;
}

.team-members {
  margin-bottom: 6px;
}

.tabs {
  li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label {
    display: block;
    padding: 3px 4px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #EAEAEA;
    &:hover {
      background: darken($tabs-base-color, 10);
    }
  }
  .tab-content{
    z-index: 2;
    display: none;
    max-height: 393px;
    overflow: auto;
    width: 100%;
    font-size: 17px;
    padding: 2px 20px 12px 12px;
    position: absolute;
    top: 37px;
    left: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    line-height: 2;
    border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -webkit-box-shadow: 0px 9px 27px -3px #aaa;
    box-shadow: 0px 9px 27px -3px #aaa;
  }
  [id^="tab"]:checked + label {
    top: 0;
    padding-top: 5px;
    background: none;
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}
p.link {
  clear: both;
  margin: 380px 0 0 15px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($tabs-base-color, 15);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: darken($tabs-base-color, 20);
    }
  }
}

.resume-tools {
  position: fixed;
  z-index: 1;
  padding: 4px!important;
  right: 25px;
  top: 25px;
  line-height: 2;

  .tabs {
    margin: 0;

    label{
      height: 36px;
    }
  }
}

@media screen and (max-width: 767px) {
  .resume-tools {
      position: fixed;
      z-index: 21;
      padding: 2px !important;
      right: 0px;
      top: 0px;
      line-height: 2;
  }
}
