---
---

@import 'syntax';
@import 'expander';

$site-background-color: #f5f5f5;
$contrast-color: #333;

$azul-accent-color: #2178A5;
$link-hover-color: #98CAEA;
$ruby-accent-color: #e0115f;
$amber-accent-color: #ff7e00;
$avocado-accent-color: #568203;

/*============================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $site-background-color;
  border-top: 5px solid $contrast-color;
  font-family: 'Source Sans Pro', sans-serif;
  color: $contrast-color;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
blockquote,
table,
img,
hr,
.fluid-width-video-wrapper,
.highlight {
  margin-bottom: 20px;
}

blockquote {
  padding: 0 30px;
  border-left: 2px solid darken($site-background-color, 15%);
}

ul, ol {
  margin-left: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  text-decoration: none;

}

a:hover {
  border-bottom-color: transparent;
  color: $link-hover-color !important;
  text-decoration: none;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px darken($site-background-color, 10%) ;
  color: $azul-accent-color !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.15em;
  height: calc(2.75em + 6px);
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &.project-details {
    margin-top: 15px;
  }
}

.button:hover {
  border-color: lighten($azul-accent-color, 30%) ;
  color: lighten($azul-accent-color, 20%)  !important;
}

.button:active {
  background-color: lighten($link-hover-color, 30%);
  border-color: $link-hover-color;
  color: $link-hover-color !important;
}

hr {
  border : 0;
  height: 25px;
  background : url(/public/images/eagle.png) center center no-repeat;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8rem;
}

p code {
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border: 1px solid $contrast-color;

  td, th {
    border: 1px solid $contrast-color;
    padding: 5px 10px;
  }

  thead {
    background-color: darken($site-background-color, 10%);
  }
}

// TODO: make dt smaller
dt {
  float: left;
  width: 30%;
  font-weight: bold;
}

dd {
  float: right;
  width: 70%;
}

footer {
  font-size: .8rem;
  text-align: center;
}

/*============================================================================*/
.azul { a { color: $azul-accent-color;
    &:hover { color: darken($azul-accent-color, 20%);
}}}

.ruby { a { color: $ruby-accent-color;
    &:hover { color: darken($ruby-accent-color, 20%);
}}}

.amber { a { color: $amber-accent-color;
    &:hover { color: darken($amber-accent-color, 20%);
}}}

.avocado { a { color: $avocado-accent-color;
    &:hover { color: darken($avocado-accent-color, 20%);
}}}

/*----------------------------------------------------------------------------*/

.highlight {
  padding: 30px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  line-height: 1;
  -webkit-box-shadow: 0 0 12px 1px #bbb;
  box-shadow: 0 0 12px 1px #bbb;

  code {
    font-size: .7rem;
  }
}

.resume-tools {
  position: fixed;
  z-index: 1;
  padding: 15px;
  right: 25px;
  top: 25px;
  line-height: 2;
}

.fixed-roles .part1,
.fixed-roles .part2,
.fixed-roles .part3,
{
  position: fixed;
  z-index: 1;
  padding: 15px;
  right: 25px;
  top: 25px;
  line-height: 2;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  -webkit-box-shadow: 0 0 12px 1px #bbb;
  box-shadow: 0 0 12px 1px #bbb;
}

.part2 {
  width: 120px;
  right: -20px !important;
  margin-top: -11px;
}

.part3 {
  width: 75px;
  margin-top: 10px;
}

.role-part {
  position: fixed;
  right: 35px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -moz-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -ms-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  -o-transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
  transition: opacity 500ms ease-out, visibility 0s ease-out 500ms;
}

.role-part.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -moz-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -ms-transition: opacity 500ms ease-out, visibility 0s ease-out;
  -o-transition: opacity 500ms ease-out, visibility 0s ease-out;
  transition: opacity 500ms ease-out, visibility 0s ease-out;
}

.home-year {
  position: absolute;
  left: 50%;
  border: 4px solid #DDD;
  border-radius: 60px;
  height: 120px;
  width: 120px;
  margin-left: -60px;
  display: flex;
  align-items: center;
  font-size: 34px;
  margin-top: -72px;
  padding-left: 20px;
  background-color: #FFF;
}

.container {
  max-width: 750px;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.area-centered {
  margin-left: 25%;
  margin-right: 25%;
}

.description-list {
  text-align: left;
  margin-left: 30%;
  margin-right: 25%;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.add-margin-top {
  margin-top: 70px;
}

.add-margin-bottom {
  margin-bottom: 70px;
}

.add-small-margin-top {
  margin-top: 30px;
}

.add-small-margin-bottom {
  margin-bottom: 30px;
}

.left {
  float: left;
  margin: 0 20px 20px 0;
}

.top-navbar {
  margin-bottom: 40px;
  height: 110px;

  a {
    display: inline-block;
    color: $contrast-color;
    padding: 66px 20px 25px;
    margin-right: 10px;
    margin-top: -5px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid lighten($contrast-color, 10%);
    transition: all ease-in-out .3s;

    &:hover,
    &.current-page {
      color: $site-background-color;
      border-bottom: none;
    }

    &:hover {
      background-color: $contrast-color;
      transform: translateY(5px);
    }

    &.current-page {
      background-color: $contrast-color;
    }
  }
}

.archive,
.single {
  margin-bottom: 100px;
}

.single {
  font-size: 1.125rem;
  line-height: 28px;
}

.single time {
  color: #999;
  font-size: .9rem;
}

.bundle {
  border-top: 1px solid lighten($contrast-color, 50%);
  padding-top: 10px;
  margin-bottom: 10px;
}

.bundle-content {
  padding-top: 10px;
  margin-bottom: 10px;
}

.bundle .post-year {
  margin-bottom: 0;
}

.project {
  height:120px;
  margin-top: 20px;
}

.project-logo{
  height: 90px;
  width: 90px!important;
  display: inline-block;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  -webkit-box-shadow: 0 0 10px 4px #222;
  box-shadow: 0 0 10px 4px #222;

  &.in-row {
    margin-left: 45px;
  }

  &.in-header {
    margin-top: 20px;
  }

  &.in-roles {
    position: fixed;
    top: -5px;
    right: 15px;
    height: 20px;
    width: 20px!important;
    background-size: 25px 25px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 3px 1px #222;
    box-shadow: 0 0 3px 1px #222;
    z-index: 2;
  }
}

.store-button{
  height: 90px;
  width: 290px !important;
  display: inline-block;
  background-size: 300px 100px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 1px #222;
  box-shadow: 2px 2px 5px 1px #222;
}

.category,
.role,
.contributing,
.project-dates,
.duration,
.post-date {
  text-align: right;
}

.category {
  font-weight : italic;
}

.contributing {
  font-weight : italic;
  font-size : 14px;
  color: $azul-accent-color;
}

.role {
  font-size : 16px;
  margin-top: -7px;
}

.duration {
  font-size : 12px;
  margin-top: -5px;
  color:#888;
}

.project-dates {
  font-size : 12px;
}

.techno-group {
  margin-top: 5px;
  font-size : 12px;
}

.techno-name {
  font-size : 12px;
  margin-top: -5px;
  color:#888;
}

.team-group {
  font-size : 12px;
}

.team-number {
  font-size : 12px;
  text-align: right;
  color:#888;
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

dl,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

dl,
.clearfix:after {
    clear: both;
}

/*============================================================================*/

.logo {
  display: inline-block;
  height: 110px;
  width: 110px;
  background-size: 90px 90px;
  background-position: left center;
  background-repeat: no-repeat;
}

.chris {
  border-radius: 70px;
  display: inline-block;
  height: 110px;
  width: 110px;
  margin-top: 10px;
  background-size: 125px 125px;
  background-position: top center;
  background-repeat: no-repeat;
}

/*============================================================================*/
@media screen and (max-width: 767px) {
  .top-navbar {
    height: 35px;
    text-align: center;
    margin-top: 40px;

    a {
      padding: 5px 10px;
      margin: 5px;
      border-radius: 0;
      border: 1px solid $contrast-color;
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  .category,
  .role,
  .project-dates,
  .duration,
  .bundle,
  .bundle-content,
  .post-date {
    text-align: center;
  }

  .project {
    height: 240px;
    margin-top:30px;
  }

  .bundle article {
    margin-bottom: 30px;
  }

  .project-logo {
    width: 100%;
    background-position: center center;
  }

  .home-year {
    display: none;
  }

  .social {
    margin-left: 40px!important;
  }

  #logo{
    background-position: center center;
  }
}
