
{% include find-project.html %}
{% assign credits = project.credits %}

<section class="highlight row gutters span_12 center">
    <header class="add-margin-bottom">
    <h2>Credits</h2>
    </header>
{% for attribution in credits %}
<div {% if attribution.add-margin-top  %} class="add-margin-top" {% endif %}>

    {% assign texts = attribution.name %}
    {% include multi-texts.html %}

    {% if attribution.image != null %}
    <a class="image-link" href="{{attribution.image.link}}" target="blank">
        <img src="{{site.baseurl}}/public/images/{{attribution.image.url}}">
    </a>
    {% endif %}

    {% assign texts = attribution.texts %}
    {% include multi-texts.html %}

</div>
{% endfor %}

</section>
