
{% assign credits = site.data.games[page.id].credits %}

<section class="highlight row gutters span_12 center">
    <header class="add-margin-bottom">
    <h2>Credits</h2>
    <p>Tools and Attributions</p>
    </header>

    {% for attribution in credits %}
        <div {% if attribution.add-margin-top  %} class="add-margin-top" {% endif %}>
            <a href="{{attribution.image.link}}" target="blank"><h4>{{attribution.name}}</h4></a>
            {% if attribution.image != null %}
            <a class="image-link" href="{{attribution.image.link}}" target="blank">
                <img src="{{site.baseurl}}/public/images/{{attribution.image.url}}">
            </a>
            {% endif %}

            <p class="area-centered">
            {% for text in attribution.texts %}
                {% if text.link != null %}
                    <a href="{{text.link}}" target="_blank">{{text.value}}</a>
                {% else %}
                    {{text.value}}
                {% endif %}
            {% endfor %}
            </p>

        </div>
    {% endfor %}

</section>
