
{% if page.title == "Uralys" %}
    <a href="{{ site.url }}" class="project-logo in-header" title="{{ site.data.brume.name }}"
     style="background-image: url({{site.baseurl}}/public/images/logo.png"></a>
{% endif %}

{% if page.title == "Games" %}
    <a href="{{ site.url }}" class="project-logo in-header" title="{{ site.data.brume.name }}"
     style="background-image: url({{site.baseurl}}/public/images/projects/tribes-and-khans/logo.250.jpg"></a>
{% endif %}

{% if page.title == "News" %}
    <a href="{{ site.url }}" class="project-logo in-header" title="{{ site.data.brume.name }}"
     style="background-image: url({{site.baseurl}}/public/images/projects/maperial/logo.250.jpg"></a>
{% endif %}

{% if page.title == "Resume" %}
    <a href="{{ site.url }}" class="project-logo in-header" title="{{ site.data.brume.name }}"
     style="background-image: url({{site.baseurl}}/public/images/chris.jpg"></a>
{% endif %}
