
{% if overview == null %}
    {% include find-project.html %}
    {% assign overview = project.overview %}
{% endif %}

<div class="project-roles-full">
    <a class="project-logo in-roles" title="{{ site.data.brume.name }}"
     style="background-image: url({{site.baseurl}}/public/images/projects/{{page.id}}/logo.250.jpg)"></a>


     <ul class="tabs">
        <li>
            <input type="radio" name="tabs" id="tab1" checked />
            <label for="tab1" title="Roles/Dates"><img src="{{site.baseurl}}/public/images/common/me.png" style="height:30px"></label>
            <div id="tab-content1" class="tab-content">

                <div class="content-title">{{overview.title}}</div>

                {% for role in overview.roles %}
                  <div class="role">{{role}}</div>
                {% endfor %}

                <div class="project-dates">{{overview.dates}}</div>
                <div class="duration">{{overview.duration}}</div>

                {% if overview.status == 'ongoing' %}
                  <div class="contributing">Still contributing !</div>
                {% endif %}

            </div>
        </li>

        <li>
            <input type="radio" name="tabs" id="tab2" />
            <label for="tab2" title="Technologies"><img src="{{site.baseurl}}/public/images/common/settings.png" style="height:30px"></label>
            <div id="tab-content2" class="tab-content">

                <div class="content-title">Technologies</div>

                {% if overview.techno.front %}
                    <div class="techno-group">Front-end</div>
                    {% for techno in overview.techno.front %}
                      <div class="techno-name">{{techno}}</div>
                    {% endfor %}
                {% endif %}

                {% if overview.techno.mobile %}
                    <div class="techno-group">Mobile</div>
                    {% for techno in overview.techno.mobile %}
                      <div class="techno-name">{{techno}}</div>
                    {% endfor %}
                {% endif %}

                {% if overview.techno.back %}
                    <div class="techno-group">Back-end</div>
                    {% for techno in overview.techno.back %}
                      <div class="techno-name">{{techno}}</div>
                    {% endfor %}
                {% endif %}

            </div>
        </li>

        <li>
            <input type="radio" name="tabs" id="tab3" />
            <label for="tab3" title="Team"><img class="tab-logo" src="{{site.baseurl}}/public/images/common/team.png"></label>
            <div id="tab-content3" class="tab-content">

                <div class="content-title">Team</div>

                {% if overview.team.dev %}
                    {% assign name = 'Development :' %}
                    {% assign num = overview.team.dev %}
                    {% include team-group.html %}
                {% endif %}
                {% if overview.team.qa %}
                    {% assign name = 'Q.A. :' %}
                    {% assign num = overview.team.qa %}
                    {% include team-group.html %}
                {% endif %}
                {% if overview.team.design %}
                    {% assign name = 'Design/UX/UI :' %}
                    {% assign num = overview.team.design %}
                    {% include team-group.html %}
                {% endif %}
                {% if overview.team.marketing %}
                    {% assign name = 'Marketing :' %}
                    {% assign num = overview.team.marketing %}
                    {% include team-group.html %}
                {% endif %}

            </div>
        </li>

        {% if overview.metrics %}
        <li>
            <input type="radio" name="tabs" id="tab4" />
            <label for="tab4" title="Metrics"><img src="{{site.baseurl}}/public/images/common/metrics.png" style="height:30px"></label>
            <div id="tab-content4" class="tab-content">

                <div class="content-title">Metrics</div>

                {% for data in overview.metrics %}
                    {% include metrics-tabs.html %}
                {% endfor %}

            </div>
        </li>
        {% endif %}
    </ul>


</div>
