<style>

  .name {
    font-size: 18px;
    font-weight: regular;
  }

  .title {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .group {
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 130px;
  }

  .group-title {
    width: 70px;
    font-style: italic;
    font-size: 14px;
  }

  .link {
    color:rgb(94, 135, 147);
  }

  li {
    display: inline;
  }

  li a{
    text-decoration: none;
  }

  .social{
    margin-left: 200px;
    margin-top: 35px;
  }

  .icon{
    width:32px;
    height:32px;
  }

  .icon:hover{
    opacity:0.6;
  }

</style>

<div class="group">
  <div>
    <div class="name">Christophe Dugne-Esquevin</div>
    <div class="title">Full-stack Developer</div>
  </div>

  <ul class="social">

      <li><a href="http://uralys.com" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/uralys.64.png">
      </a></li>

      <li><a href="http://maperial.com" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/maperial.64.png">
      </a></li>

      <li><a href="http://adillions.com" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/adillions.64.png">
      </a></li>

      <li><a href="https://github.com/chrisdugne" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/github.64.png">
      </a></li>

      <li><a href="https://www.linkedin.com/in/chrisdugne" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/linkedin.64.png">
      </a></li>

      <li><a href="https://twitter.com/chrisdugne" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/twitter.64.png">
      </a></li>

      <li><a href="skype:chrisdugne?chat" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/skype.64.png">
      </a></li>

      <li><a href="mailto:chris.dugne@uralys.com" target="blank">
        <img class="icon" src="https://s3-us-west-2.amazonaws.com/uralys-website/social-icons/email.64.png">
      </a></li>
  </ul>
</div>
