<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Uralys" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          {% include page.logo.html %}
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        {% include signature.line.html %}
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script src="{{site.baseurl}}/public/js/expander.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
